

@media screen and (min-width: 320px){ 


  
    .About
    { 
        display: flex;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }


    .content
    {
        flex: 2;
        flex-basis: 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .aboutContainer
    {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .imageContainer
    {
        flex: 1;
        flex-basis: 30em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5vw 0 ;
    }
    .phoneTitle
    {
        flex: 1;
        display: flex;
        align-items: center;
        width: 100vw;
        font-size: 10vw;;
        padding-top: 1em;
        gap: 0.2em;
    }
    .titleContainer
    {
        display: none;
    }
    .aboutTitle
    {
        font-size: 15vw;
    }
    .aboutMeText
    {
        padding: 2vh 2vw; 
        font-family: Poppins;
        font-size: 3vw;
        text-align: center;
    }
    .portraitImage
    {
        margin:  0;
        max-width: 47vw;
    }

    .horLine2
    {
        width: 40vw;
    }

    .skillImage
    {
        width: 65vw;
        margin-bottom: 20vw;

    }
    .verLine
    {
        display: none;
        margin-left: 10em;
    }
    .skillImageContainer
    {
        display: none;
    }
    .reactLogo2
    {
        display: none;
    }

}


@media screen and (min-width: 641px){
    .content
    {
        flex: 1;
    }
    .phoneTitle
    {
        display: none;
    }
    .titleContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portraitImage
    {
        width: 35vw;
    }
    .imageContainer
    {
        margin: 0 0;
    }
    .content
    {
        
    }

    .aboutTitle
    {
        font-size: 6vw;
    }

    .aboutMeText
    {
        font-size: 2vw;
        flex: 1;
    }
    .skillImage
    {
        width: 40vw;
        display: none;
        margin: 0;
    }
    .skillImageContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2vw;
    }
    .skillImage2
    {
    }

    .reactLogo2
    {
        width: 20vw;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media screen and (min-width: 961px){
    .portraitImage
    {
        width: 25vw;
    }
    .aboutTitle
    {
        font-size: 5vw;
    }
    .aboutMeText
    {
        font-size: 1.7vw;
        
    }
    .textContainer
    {
        margin: 0;
        padding: 0;
        padding-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;
        
    }
    .content
    {
    }
    .reactLogo2
    {
        width: 15vw;
    }
}

@media screen and (min-width: 1024px){

    .textContainer
    {
       padding: 0;
       margin: 0;
    }
    .aboutMeText
    {
        font-size: 1.2vw;
        padding: 2vh 3vw;
    }
    .aboutTitle
    {
        font-size: 4vw;
    }
    .content
    {
        flex-basis: 20vw;
        
    }
    .imageContainer
    {
        flex-basis: 2vw ;
    }
    .portraitImage
    {
        width: 20vw;
    }

    .skillImage2
    {
        display: none;
    }
    .skillImage
    {
        display: block;
        width: 25vw;
    }
    .reactLogo2
    {
        width: 15vw;
    }
    .verLine
    {
        display: block;
        margin: auto;
    }
    
}

@media screen and (min-width: 1281px){

    .aboutTitle
    {
        font-size: 40px;
    }
    .aboutMeText
    {
        font-size: 13px;
        font-family: Poppins, sans-serif;
        padding:  2vw 5vw;
    }
    .portraitImage
    {
        width: 17em;
    }
    .content
    {
        flex-basis: 10vw;
        padding: 5vw;
    }

    .skillImage
    {
        width: 250px;
    }

    .reactLogo2
    {
        width: 10vw;
    }
}

@media screen and (min-width: 1440px){
    .aboutMeText
    {
        font-size: 0.8vw;
    }
    .aboutTitle
    {
        font-size: 2.5vw;
    }
    .portraitImage
    {
        width: 15vw;
    }
    .skillImage
    {
        width: 13vw;
    }

}
