
@media screen and (min-width: 320px){ 


  
    .About
    { 
        display: flex;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        position: relative;
        overflow:visible;
    }


    .content
    {
        flex: 1;
        flex-basis: 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .aboutContainer
    {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .imageContainer
    {
        flex: 1;
        flex-basis: 30em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5vw 0 ;
    }
    .phoneTitle
    {
        flex: 1;
        display: flex;
        align-items: center;
        width: 100vw;
        font-size: 10vw;;
        padding-top: 1em;
        gap: 0.2em;
    }
    .titleContainer
    {
        display: none;
    }
    .aboutTitle
    {
        font-size: 15vw;
    }
    .aboutMeText
    {
        padding: 3vh 2vw;
        font-family: Poppins;
        font-size: 4vw;
        text-align: center;
    }
    .portraitImage
    {
        margin:  0;
        max-width: 70vw;
    }

    .horLine2
    {
        width: 40vw;
    }

    .skillImage
    {
        width: 90vw;
    }
    .verLine
    {
        display: none;
        margin-left: 10em;
    }
    .skillImageContainer
    {
        display: none;
    }
    .reactLogo2
    {
        display: none;
    }

}


@media screen and (min-width: 641px){
    .phoneTitle
    {
        display: none;
    }
    .titleContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portraitImage
    {
        width: 35vw;
    }
    .imageContainer
    {
        margin: 0 0;
    }
    .content
    {
        
    }

    .aboutTitle
    {
        font-size: 6vw;
    }

    .aboutMeText
    {
        font-size: 2vw;
        flex: 1;
    }
    .skillImage
    {
        width: 40vw;
        display: none;
    }
    .skillImageContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2vw;
    }
    .skillImage2
    {
    }

    .reactLogo2
    {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media screen and (min-width: 961px){
    .portraitImage
    {
        width: 25vw;
    }
    .aboutTitle
    {
        font-size: 5vw;
    }
    .aboutMeText
    {
        font-size: 1.7vw;
        
    }
    .textContainer
    {
        margin: 0;
        padding: 0;
        padding-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: center;
        
    }
    .content
    {
    }
}

@media screen and (min-width: 1030px){

    .textContainer
    {
       padding: 0;
       margin: 0;
    }
    .aboutMeText
    {
        font-size: 1.5vw;
        padding: 2vh 0;
    }
    .aboutTitle
    {
        font-size: 5vw;
    }
    .content
    {
        flex-basis: 20vw;
        
    }
    .imageContainer
    {
        flex-basis: 2vw ;
    }
    .aboutContainer
    {
        
    }
    .skillImage2
    {
        display: none;
    }
    .skillImage
    {
        display: block;
        width: 30vw;
    }
    
}

@media screen and (min-width: 1281px){

    .aboutTitle
    {
        font-size: 50px;
    }
    .aboutMeText
    {
        font-size: 15px;
    }
    .portraitImage
    {
        width: 15em;
    }
    .content
    {
        flex-basis: 30vw;
    }
    .imageContainer
    {
    }
    .skillImage
    {
        width: 300px;
    }


}
