@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,600&display=swap');
.App {
  height: 100%;
  background-color: #2d3436;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.primaryColor {
  color: #64ffda;
}

.reactLogo {
  align-self: flex-end;
  margin-top: auto;
  width: 30vw;
  
}
.page
{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.testElement
{
  background-color: red;
  height: 100vh;
  width: 100%;
}

 /* big landscape tablets, laptops, and desktops */
  @media screen and (min-width: 481px){ 
    .reactLogo
    {
        width: 20vw;
    }

    @media screen and (min-width: 961px){

      .reactLogo
      {
        width: 15vw;
      }
    }

    /* hi-res laptops and desktops */
    @media (min-width:1281px) {
      .reactLogo
      {
        width: 10vw;
      }

      }


}
