
/* Phones or extra small devices */
@media screen and (min-width: 320px){ 

    .heroSection {
        font-family: 'Poppins', sans-serif;
        padding: 10vw;
        flex: 1;
        display: flex;        
        align-items: center;
        margin-top: 10vh;
      }
      .title {
        margin: 0;
        font-size: 11vw;
      }
      .bigTitle {
        margin: 0;
        font-size: 13vw;
      }
      .bold {
        font-weight: bold;
      }
      
      .normalText {
        margin: 0;
        padding: 0;
        font-size: 5vw;
      }
      
      .biggerNormalText
      {
        font-size: 6vw;
      }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px)  {

    .bigTitle
    {
        font-size: 12vw;
    }

    .title
    {
        font-size: 10vw;
    }
    .normalText
    {
        font-size: 3.5vw;
    }
    .biggerNormalText
    {
        font-size: 4vw;
    }
  }
  @media screen and (min-width: 961px){
    .normalText
    {
        font-size: 2vw;
    }
    .biggerNormalText
    {
        font-size: 3vw;
    }
    .title
    {
        font-size: 8vw;
    }
    .bigTitle
    {
        font-size: 10vw;
    }
  }

  /* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .heroSection
    {
        margin-top: 0;
        align-items: start;
        padding: 8em;
    }

    .bigTitle
    {
        font-size: 6em;
    }

    .title
    {
        font-size: 4em;
    }
    .normalText
    {
        font-size: 1.3em;
    }
    .biggerNormalText
    {
        font-size: 1.5em;
    }

}
      /* hi-res laptops and desktops */
      @media (min-width:1281px) {
        .heroSection
        {
            margin-top: 0;
            align-items: start;
            padding: 10em;
            margin-left: 5vw;
        }

        .bigTitle
        {
            font-size: 7vw;
        }
    
        .title
        {
            font-size: 4vw;
        }
        .normalText
        {
            font-size: 1vw;
        }
        .biggerNormalText
        {
            font-size: 1.5vw;
        }
    }

    @media (min-width:1440px) {
        .heroSection
        {
            padding: 5em;
        }
        .bigTitle
        {
            font-size: 5vw;
        }
        .title
        {
            font-size: 3.6vw;
        }

    }

    @media (min-width:2560px) {

        .heroSection
        {
            padding: 20em;
        }

    }





