.nav-menu {
    color: #41caa9;
    font-size: 2vw;
  }
  
  .NavContainer
  {
    padding: 1vh;
  }

      /* hi-res laptops and desktops */
      @media (min-width:1025px) {
        .nav-menu
        {
          font-size: 1.2em;
        }
      }
   