@media(min-width:320px)
{

  .nav-menu {
      color: #41caa9;
      font-size: 2vw;
      transition: 0.2s;
      font-family: 'Poppins',sans-serif;
      font-weight: 400;
    }
    
    .NavContainer
    {
      padding: 1vh;
      position: relative;
  
    }
    .nav-menu:hover
    {
      color: #2bffcd;
    }
    .offCanvas2
    {
      background-color: #2d3436;
    }
   
    .navHeader
    {
      display: none;
    }
    .hamburgerMenu
    {
      font-size: 2.5em;
      color: white;
      cursor: pointer;
    }
    .phoneMenuBody a
    {
      text-decoration: none;
      color: inherit;
    }
    .phoneMenu
    {
      background-color: #323738;
      color: white;
    }
 
    .phoneMenu a 
    {
      font-size: 2em;
    }
    .phoneMenuLinks
    {
      font-size: 5vw;
    }


}




      /* hi-res laptops and desktops */
      @media (min-width:1025px) {
        .nav-menu
        {
          font-size: 1.2em;
        }
        .hamburgerMenu
        {
          display: none;
        }
        .navHeader
        {
          display: flex;
        }
      }

      @media (min-width:1440px) {
        .nav-menu
        {
          font-size: 1em;
        }
        .logo
        {
          width: 6em;
        }

      }
   
      @media (min-width:2000px) {
        .nav-menu
        {
          font-size: 1.25em;
        }
        .logo
        {
          width: 7em;
        }

      }
   