.nav-menu {
    color: #41caa9;
    font-size: 2vw;
  }
  
  .NavContainer
  {
    padding: 1vh;
    position: relative;
  }


      /* hi-res laptops and desktops */
      @media (min-width:1025px) {
        .nav-menu
        {
          font-size: 1.2em;
        }
      }

      @media (min-width:1440px) {
        .nav-menu
        {
          font-size: 1em;
        }
        .logo
        {
          width: 6em;
        }

      }
   