@media screen and (min-width: 320px){ 

    .Projects
    {
        margin-top: 12vw;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .projectsTitle
    {
        position: absolute;
        left: 0;
        top: 0;
        flex: 1;
    }
    
    .projectContainer
    {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .cardElementContainer
    {
        display: flex;
        flex: 1;
        justify-content: center;
        height: 60vh;
        padding: 0 0 ;
    }
    
    .carosell
    {
        
        height: 150vw ;
        padding: 0 0 ;
        justify-content: center;
    
    }
    .item
    {    
        padding-left: 15vw;
        padding-bottom: 5vw;
        padding-top: 5vw;
    }

    @media screen and (min-width: 481px){ 

        .Projects
        {
            margin-top: 20vw;
        }
        .carosell
        {
            height: 120vw;
        }
        .item
        {
            padding-top: 0;
            padding-top: 5vw;
        }

    }

    
    @media screen and (min-width: 600px){
        .carosell
        {
            height: 110vw;
        } 
    }


    @media screen and (min-width: 641px){ 
     .Projects
     {
        flex-direction: row;
     }
    
     .item
     {
        padding-left: 12vw;

     }


    }

}

@media screen and (min-width: 769px){ 

.carosell
{
    height: 95vw;
}

}
@media screen and (min-width: 961px){ 
    .item
    {
       padding-left: 18vw;

    }

}



@media screen and (min-width: 1024px){ 
    
.cardElementContainer
{
}
.carosell
{
    height: 50vw;
}
.item
{
    padding-left: 15vw;
}


}



@media screen and (min-width: 1281px){ 

.item
{
    padding-left: 16vw ;
}

}

@media screen and (min-width: 1440px){ 

    .item
    {
        padding-left: 23vw ;
    }
    
    }