@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');


@media screen and (min-width: 320px){ 

    .SideMenu
    {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 8vw; 
    }


    .vertLine
    {
        margin-left: 5vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .nav
    {
        font-family: Roboto Mono, sans-serif;
        font-weight: bold;
        font-size: 1vw;
        flex:1;
        justify-content:space-evenly;
    }

    .side-menu-active
    {
        color: #41CAA9;
    }

    .side-menu
    {
        color: #636E72;
    }
}
@media screen and (min-width: 641px){ 
    .SideMenu
    {
        display: flex;
        width: 20vw;
    }
    .nav
    {
        font-size: 2.5vw;
    }

}

@media screen and (min-width: 1025px){
    .nav
    {
        font-size: 2.2vw;
    }
    .SideMenu
    {
        width: 15vw;
    }

}

@media screen and (min-width: 1281px){

    .SideMenu
    {
        width: 9vw;
        justify-content: center;
    }
    .nav
    {
        font-size: 1.2em;
    }
    .vertLine
    {
        margin-left: 3vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
 

}