@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');


@media screen and (min-width: 320px){ 

    .SideMenu
    {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 8vw; 
          }


    .vertLine
    {
        flex:1
    }
    .nav
    {
        font-family: Roboto Mono, sans-serif;
        font-weight: bold;
        font-size: 1vw;
        flex:1;
        justify-content:center;
        align-items: center;
    }
    .nav:hover
    {
        background-color: red;
    }

    .side-menu-active
    {
        color: #41CAA9;
    }

    .side-menu
    {
        color: #636E72;
    }
}
@media screen and (min-width: 641px){ 
    .SideMenu
    {
        display: flex;
        width: 20vw;
    }
    .nav
    {
        font-size: 2.5vw;
    }
    .lineBot
    {
        margin-bottom: 5vw;
    }
    .lineTop
    {
        margin-top: 5vw;
    }

}

@media screen and (min-width: 1024px){
    .nav
    {
        font-size: 2vw;
    }
    .SideMenu
    {
        width: 15vw;
        
    }

}

@media screen and (min-width: 1281px){

    .SideMenu
    {
        width: 12vw;
        overflow: hidden;
        justify-content: center;
        align-items:center;

        
    }
    .nav
    {
        font-size: 1.2em;
        justify-content: center;
        padding: 0;
        flex: 1;
        align-items: center;
        
    }
    .vertLine
    {

        flex: 1;
    }
 
    @media screen and (min-width: 1440px){

        .SideMenu
        {
            align-items: center;
            width: 8vw;
        }

    }
    @media screen and (min-width: 2000px){
        .lineTop
        {
            margin-top: 10vw;
        }
        .lineBot
        {
            margin-bottom: 10vw;
        }
    }

}